.animation-snake-logo-banner {
    margin-top: 100px;
    opacity: 1;
    animation-name: example;
    animation-duration: 2s;
}
@keyframes example {
    from {
        transform: translate3d(0, -100px, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.animation-btn-banner {
    width: 100%;
    animation-name: animationBtnBanner;
    animation-duration: 2s;
}
@keyframes animationBtnBanner {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.animation-video-game-story {
    transform: translate3d(0, 0, 0);
    animation-name: animationVideoGameStory;
    animation-duration: 2s;
}

@keyframes animationVideoGameStory {
    from {
        transform: translate3d(-184px, 0, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
.animation-text-game-story {
    transform: translate3d(0, 0, 0);
    animation-name: animationTextGameStory;
    animation-duration: 2s;
}

@keyframes animationTextGameStory {
    from {
        transform: translate3d(184px, 0, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
.animation-item-map {
    animation-name: animationItemMap;
    animation-duration: 2s;
}

@keyframes animationItemMap {
    from {
        transform: translateX(-50%) translateY(-180%);
        opacity: 0;
    }
    to {
        transform: translateX(-50%) translateY(-100%);
        opacity: 1;
    }
}

.animation-logo-company {
    animation-name: animationLogoCompany;
    animation-duration: 4s;
}

@keyframes animationLogoCompany {
    from {
        transform:  rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.animation-logo-company2 {
    animation-name: animationLogoCompany2;
    animation-duration: 5s;
}

@keyframes animationLogoCompany2 {
    from {
        transform:  rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.animation-logo-company3 {
    animation-name: animationLogoCompany3;
    animation-duration: 6s;
}

@keyframes animationLogoCompany3 {
    from {
        transform:  rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}