body {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
}

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: #d9dbe2;
    border-radius: 8px;
}
body::-webkit-scrollbar-thumb {
    background: #bec3cd;
    border-radius: 8px;
}
/*scroll back*/
.box-scroll-back {
    position: absolute;
    top: 70%;
    right: 10%;
    z-index: 11;
}
.box-scroll-back > .icon-scroll-back {
    position: fixed;
}
.box-scroll-back > .icon-scroll-back .btn-telegram{
    width: 120px;
}
.box-scroll-back > .icon-scroll-back .btn-telegram img{
    width: 100%;
}
.box-scroll-back > .icon-scroll-back .btn-scroll{
    margin-top: 20px;
    text-align: right;
    width: 40px;
    float: right;
}
.box-scroll-back > .icon-scroll-back .btn-scroll img{
    width: 100%;
}
/*header*/
header {
    position: fixed;
    width: 100%;
    z-index: 10;
}
.backgroup-wapper {
    color: red;
    background: url('../image/yellow_x5F_button_1_.png') no-repeat center;
    min-height: 90px;
}
.header-mobi {
    display: none;
    background-color: #00000087;
    padding:10px 0;
    position: relative;
}
.header-mobi .logo-mobi{
    margin-bottom: 15px;
}
.header-mobi .tool-bar{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
    font-size: 30px;
    color: #FFFFFF;
    cursor: pointer;
}
.header-mobi .menu-nar ul {
    padding: 0;
}
.header-mobi .menu-nar ul li{
    padding: 10px;
    padding-right: 15px;
    color: #FFFFFF;
    border-top: 1px solid #f2c427;
}
.header-mobi .menu-nar ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
.box-menu {
    display: flex;
    justify-content: center;
    line-height: 70px;
}
.box-menu-item {
    margin: 0px 15px;
    color: #FFFFFF;
}
.box-menu-item > a {
    text-decoration: none;
    color: #FFFFFF;
}
.box-logo {
    margin-left: -20px;
    margin-right: 60px;
    width: 100px;
    height: 64px;
}
.box-btn-play {
    margin-left: 45px;
    max-width: 100px;
}
.box-btn-play > div {
    width: 100%;
    position: relative;
}
.box-btn-play > div > img {
    width: 136px;
    height: 50px;
}
.box-btn-play > div > .btn-text {
    min-width: 100px;
    position: absolute;
    left: 25%;
    top: 5%;
    font-size: 16px;
}
/*section default*/
.section-default {
    position: relative;
}
.section-default > .back-ground-section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.section-default > .back-ground-section > img {
    width: 100%;
    height: 100%;
}
.section-default > .hash-tag{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 22;
    padding-bottom: 120px;
}
.section-default > .hash-tag .item-content-text{
    width: 25vw;
}
.section-default > .hash-tag .item-content-text img{
    width: 100%;
}
.section-default .content .row{
    margin: 0;
}
.section-default > .section-break {
    width: 100%;
    position: absolute;
    /*bottom: -2.5%;*/
    bottom: 0;
}
/*Main*/
.section {
    height: 100vh;
    position: relative;
}

.section > .section-image {
    width: 100%;
    position: absolute;
    top: 0;
}
.section-image > img {
    width: 100%;
    height: 100vh;
}

.section > .section-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.section > .section-content > .item-content {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    z-index: 9;
    text-align: center;
}
.section > .section-content > .item-content > .section-box-logo > img{
    width: 85%;
}

.section > .section-content > .item-btn{
    margin-bottom: 5%;
}
.section > .section-content > .item-btn > .section-box-btn > a > img{
    width: 85%;
}

.section > .section-break {
    width: 100%;
    position: absolute;
    /*bottom: -2.5%;*/
    bottom: 0;
}

.section > .section-break > .item-break {
    width: 100%;
    z-index: 12;
}

/*section 2*/
.section-2 > .section-content > .item-content{
    margin-top: 0;
}

.section-2 > .section-content > .item-hash-task{
    display: flex;
    justify-content: center;
    z-index: 9;
}
.section-2 .section-content {
    padding-bottom: 120px;
}
.section-2 > .section-content > .item-content{
    width: 100%;
    display: flex;
    justify-content: left;
    z-index: 9;
}
.item-content-video{
    float: right;
    position: relative;
    width: 100%;
}
.section-2 > .section-content > .item-content > .item-content-video > .item-content-background > img{
    position: absolute;
    width: 65%;
    right: 0;
}
.layoutVideo{
    width: 100%;
}
iframe{
    width: 81.5%;
    position: absolute;
    top: 51%;
    left: 51.8%;
    height: 69%;
    transform: translateX(-50%) translateY(-50%);
}
.section-2 > .section-content > .item-content > .item-content-video > .item-content-video{
    position: absolute;
    width: 65%;
    right: 0;
    z-index: 11;
}
.section-2 > .section-content > .item-content > .item-content-video > .item-content-video > video{
}
.section-2 > .section-content > .item-content > .item-content-text{
    margin-left:50px;
}
.section-2 > .section-content > .item-content > .item-content-text > .item-content-btn > a > img{
    display: flex;
    justify-content: left;
    width: 25%;
    margin-top: 25px;
}
/*section-3*/
.section-3 > .content {
    width: 100%;
}
.section-3 > .content > .box-text-content > .row{
    padding-bottom: 120px;
}
.section-3 > .content > .box-text-content > .row > div{
    padding: 0 40px;
}
.section-3 > .content > .box-text-content > .row > div > img{
    width: 100%;
}
/*section-4*/
.section-4 .statistical-chart {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}
.section-4 .statistical-chart span{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.section-4 .statistical-chart .style-chart .text-chart{
    position: absolute;
    top: 40%;
    left: 35%;
    text-align: center;
}
.section-4 .statistical-chart img{
    width: 80% !important;
    margin-bottom: 30px;
}
.section-4 .statistical-chart .style-statistical-chart{
    min-width: 1003px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 194, 0, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
}
/*Section 5*/
.section-5 .carousel-inner{
    margin-bottom: 120px;
}
.section-5 .carousel-inner .carousel-item{
    /*padding-left: 22%;*/
}
#carouselExampleIndicators {
    position: relative;
}
.section-5 .carousel-control-prev {
    position: absolute;
    top: 0;
    left: -125px;
}
.section-5 .carousel-control-next {
    position: absolute;
    top: 0;
    right: -125px;
}
/*section 6*/
.section-6 > .hash-tag{
    padding-bottom: 0px;
}
.image-road {
    width: 100%;
}
.layout-map{
    position: relative;
    width: 100%;
    height: max-content;
}
.itemMap{
    width: 130px;
    position: absolute;
    transform: translateX(-50%) translateY(-100%) !important;
}
.map1{
    left: 22%;
    top: 13%;
}
.map1 > img{
    position: relative;
}
.map1 > .content{
    position: absolute;
    top: 80%;
    width: 150px;
    right: -120px;
}
.map2{
    left: 2%;
    top: 30%;
}
.map2 > img{
    position: relative;
}
.map2 > .content{
    position: absolute;
    top: 80%;
    width: 150px;
    right: -159px;
}
.map3{
    left: 39%;
    top: 47%;
}
.map3 > img{
    position: relative;
}
.map3 > .content{
    position: absolute;
    top: 100%;
    width: 150px;
    right: -41px;
}
.map4{
    left: 80%;
    top: 47%;
}
.map4 > img{
    position: relative;
}
.map4 > .content{
    position: absolute;
    top: 8%;
    width: 150px;
    right: -188px;
}
.map5 {
    left: 89%;
    top: 77%;
}
.map5 > img{
    position: relative;
}
.map5 > .content{
    position: absolute;
    top: 0%;
    width: 150px;
    right: 116px;
}
.map6 {
    left: 65%;
    top: 89%;
}
.map6 > img{
    position: relative;
}
.map6 > .content{
    position: absolute;
    top: 20%;
    width: 150px;
    right: 130px;
}
/*section 7*/
.section-7 .content {
    padding-bottom: 120px;
}
.section-7 .content .style-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*section 8*/
.section-8 .content {
    padding-bottom: 120px;
}
.section-8 .content .logo-company{
    display: flex;
    justify-content: center;
    margin-right: 35px;
}
/*section 9*/
.section-9 .hash-tag {
    padding-bottom: 20px;
}
.section-9 .content {
    padding-bottom: 120px;
}
.section-9 .content .style-communities{
    display: flex;
    justify-content: center;
}
.section-9 .content .style-communities .connect-communities{
    display: flex;
    justify-content: center;
}
.section-9 .content .style-communities .connect-communities div{
    margin: 0 10px;
}
.section-9 .content .style-communities p{
    font-weight: 400;
}

/*section 10*/
.section-10 .content {
    padding-bottom: 120px;
}
.section-10 .content .style-communities p{
    font-size: 16px;
    color: #FFFFFF;
}
.section-10 .content .style-communities .connect-communities{
    display: flex;
    justify-content: center;
}
.section-10 .content .style-communities .connect-communities div{
    margin: 0 10px;
}
.section-10 .content .style-contacus{
    padding-top: 25px;
}
.section-10 .content .style-contacus .category{
    color: rgba(255, 202, 32, 1);
}
.section-10 .content .style-contacus .category{
    color: rgba(255, 202, 32, 1);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}
.section-10 .content .style-contacus p{
    font-style: normal;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
}
.section-10 .content .style-communities a img{
    margin-bottom: 20px;
    margin-top: 20px;
}
.section-10 .content .style-communities p{
    font-weight: 400;
}
/**/
.item-content-text > p{
    font-size: 48px;
}
.item-content-text > span{
    word-break: break-word;
    font-size: 16px;
    font-weight: 400;
}
.item-content-text{
    color: #FFFFFF;
}
.text-title-map-p {
    font-size: 24px;
    color: #FFFFFF;
}
.text-title-map-span {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: normal;
}
.name-infor {
    margin-top: 30px;
    margin-bottom: 0;
    color: #FFFFFF;
    font-size: 24px;
}
.text-black {
    color: #000000;
}
.row {
    margin-left: 0;
}
.overFollowHidden {
    overflow: hidden;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #f2c427;
}

@media only screen and (max-width: 1363px) {
    .section {
        height: 100%;
    }
    .section > .section-content > .item-btn {
        margin-top: 250px;
        margin-bottom: 50px;
    }
    .box-logo {
        margin-left: 37px;
        margin-right: 0;
    }
    .section-4 .statistical-chart .style-statistical-chart {
        min-width: 730px;
    }
    .section-8 .content .logo-company {
        margin-right: 0;
    }
    .item-content-video {
        width: 100%;
    }
    .item-content-text > p {
        font-size: 28px;
    }
    .box-scroll-back {
        right: 14%;
        top: 80%;
    }
    .section-default > .back-ground-section > img {
        object-fit: cover;
    }
    .section-5 .container{
        max-width: 831px;
    }
    .section-5 .carousel-control-prev {
        left: -40px;
        width: 50px;
    }
    .section-5 .carousel-control-prev img{
        width: 100%;
    }
    .section-5 .carousel-control-next {
        right: -40px;
        width: 50px;
    }
    .section-5 .carousel-control-next img{
        width: 100%;
    }
    .section-4 .statistical-chart span {
        font-size: 16px;
    }
    .section-4 .statistical-chart .style-chart .text-chart {
        top: 35%;
        left: 29%;
    }
    .map4 > .content {
        right: -170px;
    }
}

@media only screen and (max-width: 900px) {
    header .backgroup-wapper {
        display: none;
    }
    header .header-mobi {
        display: block;
    }
    .section > .section-content > .item-logo{
        margin-top: 0;
    }
    .section-default > .back-ground-section {
        top: -7px;
    }
    .section-default > .back-ground-section > img {
        object-fit: cover;
    }
    .box-scroll-back {
        right: 100px;
        top: 80%;
    }

    .box-scroll-back > .icon-scroll-back .btn-telegram {
        width: 80px;
    }
    .box-scroll-back > .icon-scroll-back .btn-scroll {
        width: 30px;
        margin-top: 10px;
    }
    .section-default > .hash-tag .item-content-text {
        width: 50vw;
    }
    .section-2 > .section-content > .item-content > .item-content-text {
        margin-left: 0px;
    }
    .section-default > .hash-tag {
        padding-bottom: 60px;
    }
    .section-3 > .content > .box-text-content > .row > .item-first {
        margin-bottom: 20px;
    }
    .section-3 > .content > .box-text-content > .row {
        padding-bottom: 60px;
    }
    .section-3 > .content > .box-text-content > .column-reverse {
        flex-direction: column-reverse;
    }
    .section-3 > .content > .box-text-content > .column-reverse > .box-img {
        margin-bottom: 20px;
    }
    .section-3 > .content > .box-text-content > .row > div {
        padding: 0 ;
    }
    .section-4 .statistical-chart .style-statistical-chart {
        min-width: auto;
    }
    .section-6 > .hash-tag {
        padding-bottom: 0;
    }
    .section-10 .style-communities {
        text-align: center;
    }
    .section-5 .container {
        max-width: 356px;
    }
    .section-5 .carousel-control-prev {
        left: -20px;
        width: 25px;
    }
    .section-5 .carousel-control-prev img{
        width: 100%;
    }
    .section-5 .carousel-control-next {
        right: -20px;
        width: 25px;
    }
    .section-5 .carousel-control-next img{
        width: 100%;
    }
    .section-4 .statistical-chart .style-chart {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .section-4 .statistical-chart .style-statistical-chart {
        padding: 10px;
    }
    .section-4 .statistical-chart .style-statistical-chart .text-chart {
        padding: 0;
    }
    .section-4 .statistical-chart .style-chart .text-chart {
        top: 40%;
        left: 35%;
    }
    .section-6 .layout-map .itemMap img{
        display: flex;
        justify-content: center;
    }
    .section-6 .layout-map .itemMap img{
        width: 50%;
        text-align: center;
    }
    .text-title-map-p {
        font-size: 14px;
        color: #FFFFFF;
    }
    .text-title-map-span {
        font-size: 11px;
        color: #FFFFFF;
        font-weight: normal;
    }
    .map1 {
        left: 34%;
    }
    .map1 > .content {
        right: 0px;
        width: 100px;
    }
    .map2 {
        left: 14%;
    }
    .map2 > .content {
        right: 18px;
        width: 100px;
    }
    .map3 > .content {
        right: 35px;
        width: 100px;
    }
    .map4 > .content {
        right: 0px;
        width: 100px;
    }
    .map5 > .content {
        width: 100px;
    }
    .map6 > .content {
        width: 100px;
    }
}